/* Sidebar toggle button */
.sidebar-toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 16px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Sidebar styling */
.profile-page {
  position: fixed;
  right: -100%;
  top: 0;
  background-color: #f2f2f2;
  height: 100vh;
  width: 250px;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  transition: right 0.3s ease-in-out;
  z-index: 988;
}

.profile-page.open {
  right: 0;
  width: 20%;
  top: 4rem;
}

.profile-container {
  display: grid;
  gap: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  height: 100vh;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.nav-links button {
  padding: 10px 16px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.logout-btn {
  background-color: red;
}
